<footer class="site-footer">
  <div class="footer-container">
    <!-- REDES -->
    <div class="footer-column footer-brand">
      <img src="images/logo-mach-nuevo.png" alt="MACH" class="footer-logo" />

      <h4>Redes</h4>

      <div class="social-links">
        <a
          href="https://www.tiktok.com/@mach.contadores.p?_r=1&_t=ZS-92l90P8HHA0"
          ><i class="bi bi-tiktok"></i
        ></a>
        <a href="https://wa.me/524531154682" target="_blank"
          ><i class="bi bi-whatsapp"></i
        ></a>
        <a href="https://www.facebook.com/share/19iLBsQyCg/?mibextid=wwXIfr"
          ><i class="bi bi-facebook"></i
        ></a>
        <a href="https://www.instagram.com/mach.contab?igsh=cG1kMTVoeGJzMzR6"
          ><i class="bi bi-instagram"></i
        ></a>
      </div>
    </div>

    <!-- UBICACIÓN -->
    <div class="footer-column">
      <h4>Ubicación</h4>

      <div class="map-wrapper">
        <iframe
          src="https://www.google.com/maps?q=Calle%20Donato%20Bravo%20Izquierdo%20553%20Apatzing%C3%A1n%20Michoac%C3%A1n&output=embed"
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        >
        </iframe>
      </div>
    </div>

    <!-- CONTACTO -->
    <div class="footer-column">
      <h4>Contacto</h4>

      <a href="./placeholder.html" class="footer-btn primary">Suscribirme</a>
      <a href="./placeholder.html" class="footer-btn outline"
        >Agendar Consulta</a
      >
    </div>
  </div>

  <!-- BOTTOM -->
  <div class="footer-bottom">
   
    <span>© 2026 MACH Contadores — Todos los derechos reservados.</span>
    <div class="footer-links">
      <a href="./placeholder.html">Aviso de privacidad</a>
      <p>-</p>
      <a href="./placeholder.html">Términos</a>
    </div>
  </div>
</footer>