<header class="header fixed-top">
  <nav class="navbar navbar-expand-lg">
    <div class="container">
      <!-- LOGO -->
      <a class="navbar-brand" href="index.html">
        <img src="./images/logo-mach-nuevo.png" alt="MACH Contadores" />
      </a>

      <!-- TOGGLE -->
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#menu"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- MENU -->
      <div class="collapse navbar-collapse" id="menu">
        <ul class="navbar-nav ms-auto nav-links">
          <li class="nav-item">
            <a class="nav-link active" href="index.html">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="nosotros.html">Nosotros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="servicios.html">Servicios</a>
          </li>
          <li class="nav-item">
            <a
              class="nav-link portal-mach-icon"
              href="placeholder.html"
              title="Acceso Clientes"
            >
              <img
                src="images/icono-logo.png"
                alt="Portal Mach"
                class="header-logo-icon"
              />
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
